@page
@model Hospital_del_Valle.Pages.Citas.CitasLabo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/citas/Cruds.css" rel="stylesheet" />
<div class="container-crud">
    <h1>Citas con el Laboratorio</h1>

    <p>
        <a class="btn btn-primary" asp-page="Create">Nueva Cita</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CitasReservas[0].Paciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CitasReservas[0].FechaReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CitasReservas[0].Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CitasReservas[0].Resultado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CitasReservas[0].NombreLaboratorio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CitasReservas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreLaboratorio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaReserva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resultado)
                    </td>
                    
                    <td>
                        <div class="btn-container">
                            <a class="btn-action btn-edit" asp-page="./Edit" asp-route-id="@item.ReservaID">Edit</a>
                            <a class="btn-action btn-details" asp-page="./Details" asp-route-id="@item.ReservaID">Details</a>
                            <a class="btn-action btn-delete" asp-page="./Delete" asp-route-id="@item.ReservaID">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
