@page
@model Hospital_del_Valle.Pages.LYF.Farmacia.Inventario.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InventarioFarmacia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioFarmacia.medicamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventarioFarmacia.medicamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioFarmacia.StockActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventarioFarmacia.StockActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioFarmacia.FechaUltimaActualizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventarioFarmacia.FechaUltimaActualizacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InventarioFarmacia.InventarioID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
