@page
@model Hospital_del_Valle.Pages.Citas.CitasDoc.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/citas/Cruds.css" rel="stylesheet" />

<div class="container-crud">
<h1>Citas con Doctores</h1>

<p>
        <a class="btn btn-primary" asp-page="Create">Nueva Cita</a>
 </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].FechaCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cita) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                        <div class="btn-container">
                        <a class="btn-action btn-edit" asp-page="./Edit" asp-route-id="@item.CitaID">Edit</a> 
                        <a class="btn-action btn-details" asp-page="./Details" asp-route-id="@item.CitaID">Details</a> 
                        <a class="btn-action btn-delete" asp-page="./Delete" asp-route-id="@item.CitaID">Delete</a>
                        </div>
           </td>
        </tr>
}
    </tbody>
</table>
    <div>
