@page
@model Hospital_del_Valle.Pages.LYF.Farmacia.Medicamentos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento.FechaVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.FechaVencimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medicamento.MedicamentoID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
