@page
@model Hospital_del_Valle.Pages.LYF.Farmacia.Medicamentos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].FechaVencimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedicamentoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MedicamentoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedicamentoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
